$border-radius: 5px;
$border-radius-large: 2.4rem;

@mixin defaultFontSize {
  font-size: 1.6rem;
  line-height: 1.1875;
}

@mixin container {
  width: 100%;
  max-width: 108rem + 6rem;
  padding: 0 3rem;
}

@mixin containerMobile {
  width: 100%;
  padding: 0 1.5rem;
}

$tabletWidth: 900px;
$mobileWidth: 649px;

@mixin h1 {
  font-size: 2.2rem;
  line-height: 1.227272727272727;
  font-weight: 700;
}

@mixin h2 {
  font-size: 2rem;
  line-height: 1.236;
  font-weight: 700;
}

@mixin h3 {
  font-size: 1.8rem;
  line-height: 1.222222222222222;
  font-weight: 700;
}

@mixin p {
  font-size: 1.6rem;
  line-height: 1.23625;
}

@mixin p-lg {
  font-size: 2.4rem;
  line-height: 2.9rem;
}

@mixin p-sm {
  font-size: 1.5rem;
  line-height: 1.466666666666667;
}

@mixin p-xs {
  font-size: 1.4rem;
  line-height: 1.571428571428571;
}

$br: .5rem;
$br2: .3rem;
$br3: .8rem;
$opacity: .8;
$opacity2: .3;
$transition: .3s;

$white: #F0ECDF;
$white2: #FEFEFF;
$black: #242022;
$blackDefault: #222226;
$gray: #606074;
$gray2: #D3D3E1;
$gray3: #D9D9E9;
$pink: #FF93CD;
$pinkBlack: #A5527E;
$pinkBlack2: #E95BA8;
$pinkLight: #FFBEE1;
$pinkLight2: #FFC5E4;
$blue: #4B74DC;
